In [2]:
C =" Bangladesh is my \"motherland\", I love her very much"
print(C)

 Bangladesh is my "motherland", I love her very much

In [3]:
Number =4.5454
print('%.4f'%Number)

4.5454

In [4]:
Name = input("Enter your Name")
BirthDay = int(input("Enter your birthday year "))
age = 2019 - BirthDay
print('You are '+ str(age) + 'year old')

Enter your Nameyfh
Enter your birthday year gh

ValueError: invalid literal for int() with base 10: 'gh'

In [5]:
X = 'Dhaka'
Y = 'Dinajpur'
Z = 'Rangpur'

print('-'.join((X,Y,Z)))

Dhaka-Dinajpur-Rangpur

In [6]:
#Capitalize
a = 'bangla'
a.upper()

'BANGLA'

In [7]:
#title
print("bangladesh is my home land. I just love her".title())

Bangladesh Is My Home Land. I Just Love Her

In [8]:
a = "Bangla"
a.lower()       #FOR LOWER CASE
#or
a.casefold()

'bangla'

In [ ]:
#for sawpcase
a =  "Rafiq"
a.swapcase()

In [ ]:
#string_count
#string_len()
s = "Abdur Rafiq"
len(s)
s.count(s)

In [ ]:
s = "Abdur rafiq"
s.count('r')

In [ ]:
Sentence = "How can a clam cram in a clean cream can?"
Sentence.count('c',5,9) # HERE 5,9 MEANS 5 TO 9 INDEX COUNT
Sentence.count('c',5)

In [10]:
Sentence = "How can a clam cram in a clean cream can?"
Sentence.find('c',Sentence.index("c")b # index is smrat than find cause if value not find index don't return output where a.find('s') return -1

SyntaxError: invalid syntax (<ipython-input-10-b0d7ad212a4a>, line 2)

In [9]:
S = " s fdg  gr gr rg rg  rg rgd dg ?"
S.strip("?")
print(S)

 s fdg  gr gr rg rg  rg rgd dg ?

In [11]:
input("Enter the input ").split()

Enter the input my name is rafiq

['my', 'name', 'is', 'rafiq']

In [30]:
A = ['onion','ginger','cucumber',1326.321]
A.append("potato") # insert last on the list
A.insert(1,'tomato') # insert in index 1 
A.remove('tomato') # remove specific item
A.extend(['banana','mango']) #insert a list inb a list 
A.pop() #Last item remove
print(A)

['onion', 'ginger', 'cucumber', 1326.321, 'potato', 'banana']

In [35]:
v = ['keyboard','mouse','printer','ssd','pendrive','ssd']
v.count('ssd') # for count the value
v.reverse() # for reverse the item  last to fast 
W = [1,5,4,8,9,3,5,58,56,69,69,58,5,2]
W.sort() # for sort the list
W

[1, 2, 3, 4, 5, 5, 5, 8, 9, 56, 58, 58, 69, 69]

In [49]:
Q = {'apple','orange','banana','pear','pineapple'} 
Q.add('Jackfruits') # set is an important thing in python we use variable.add('value') function for add  value 
Q.update({'olive','cucumber'}) # variable.update({''}) use for add a set in a set
Q.remove('apple') # for remove
Q.discard('banana')
print(Q)

{'pineapple', 'pear', 'orange', 'olive', 'cucumber', 'Jackfruits'}